extends layout

block navbar
  nav.navbar.fixed-top.navbar-dark.bg-dark
    a(class='navbar-brand', href="#")
      img(src="https://wenge-squirrel-9758.twil.io/assets/twilio-logo-white.e88338e61.png", alt="alt", class="d-inline-block align-top", width="100px")
    span.navbar-text#participant_count
      span
        span Participants: 0
    span.navbar-text#connection_status
      span
        span connecting...: 
        i.fa.fa-spinner.fa-pulse

block body
  .container-fluid
    .row
      .col-md-6.bordered
        div.canvas_container
          canvas#question_1
      .col-md-6.bordered
        div.canvas_container
          canvas#influencer_person
    .row
      .col-md-6.bordered
        div.canvas_container
          canvas#influencer_company
      .col-md-6.bordered
        div#country_map
  script.
    var google_api_key = '!{google_api_key}';